body {
    margin-top:40px;
    margin-bottom:0px;
} 

.styling{
  width: 100%;
  font-size: -webkit-xxx-large;
  text-align: center;
  background: rgb(255, 255, 255);
  color: #886b6b;
  padding-bottom:0px !important
}

blockquote{
  font-size:20px;
  color: #a5998a;
  animation-name:slideIn;
  animation-duration: 2s;
}

@keyframes slideIn{
  from { opacity: 0; }
  to { opacity: 1;}
}


i{
  font-size:72px;
}

.material-icons{
  font-size: 60px;
  position: relative;
  top: 12px;
}




ul{
  margin:0px;
  padding:0px 0px;
  box-shadow:1px 1px 2px grey;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
}


.sample{
  height:50px;
}
.styling{
  width: 100%;
  font-size: -webkit-xxx-large;
  text-align: center;
  background: rgb(255, 255, 255);
  color: #886b6b
}

.btn-light{
  background:#e7c9c9b4 ;
}

li{
  border-style: none;
  list-style: none;
  padding: 10px 20px  !important;
  background:rgba(224, 213, 213, 0.2);
  /* margin:0px 10px  !important; */
  color:#717980;

  

}

li:hover{
  background:rgba(224, 213, 213, 0.801);
  color:rgba(121, 74, 74, 0.801)
}

.fixed{
  position: absolute;
}

.main-footer{
  position: absolute;
  bottom:0px;
  width:100%;
}


.btn-info{
  background:#886b6bfd;
  border:none;
  width:80px
}

.btn-info:hover{
  background:#e4e4e4fd;
  border:solid 1px #886b6bfd;
  color:#886b6bfd;
 
  
}

.btn-info:active{
  background:#886b6bfd;
  border:none;
  width:80px
}
